[Desktop Entry]
Name=Hatter Update
Comment=Automatic updating tool for the Hatter theme
Exec="/home/manu/.local/share/icons/Hatter-update.sh" %U
Icon=hatter-update
Terminal=false
Type=Application
Categories=Theme;
MimeType=application/x-vrmonitor
	
