/*@import "firefox-gnome-theme/userChrome.css";*/
/* Window buttons: at least 1 button */
@media (-moz-gtk-csd-minimize-button), (-moz-gtk-csd-maximize-button), (-moz-gtk-csd-close-button) {
	:root {
		--gnome-navbar-csd-offset: 3px;
	}
}

/* Window buttons: 3 buttons */
@media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-close-button),(-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
	:root {
		--gnome-navbar-csd-offset: 30px;
		
	}
}

/* Window buttons: 3 buttons */
@media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
	:root {
		--gnome-navbar-csd-offset: 55px;
		
	}
}

/* Right window buttons offset by button count */
:root[tabsintitlebar]:not([inFullscreen]) #TabsToolbar{
	padding-left: 8px !important;
	padding-right: var(--gnome-navbar-csd-offset) !important;
}
/* Left window buttons */
@media (-moz-gtk-csd-reversed-placement) {
	/* Window controls offset by button count */
	:root[tabsintitlebar]:not([inFullscreen]) #TabsToolbar {
		padding-left: var(--gnome-navbar-csd-offset) !important;
		padding-right: 8px !important;
	}
	
	/* Window buttons box */
	:root[tabsintitlebar] #titlebar .titlebar-buttonbox-container {
		left: 0;
		right: auto !important;
	}

/* Prevent menubar from breaking */
:root[tabsintitlebar] #toolbar-menubar:not([inactive=true]) {
	height: 30px !important;
	margin-bottom: 8px;
}

/* Window buttons box */
:root[tabsintitlebar] #titlebar .titlebar-buttonbox-container {
	-moz-appearance: none !important;
	padding: 5px;
	position: absolute !important;	
	right: 0;
	top: 0;
	display: block !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox {
	-moz-appearance: none !important;
}
/* button spacing */
:root[tabsintitlebar] #titlebar .titlebar-button {
	border-radius: 100% !important;
	height: 24px !important;
	margin: 6px 0px 0px 12px !important;
	width: 12px !important;
}

